body {
  font-family: "Quicksand", sans-serif;
  text-align: center; }

.header {
  margin: 0;
  background-color: darkmagenta;
  font-family: "Segoe UI Light", SansSerif, "Quicksand", sans-serif;
  color: ghostwhite;
  padding: 1px 0;
  box-shadow: 0 2px 10px dimgrey; }

.container {
  position: relative;
  top: 125px;
  color: dimgrey;
  width: 600px !important; }

.control {
  position: relative;
  top: 50px; }

.control a, td a, div a {
  color: dimgrey;
  text-decoration: none; }

.control a:hover, .container h4, td a:hover, div a:hover {
  color: darkmagenta; }

td:first-child {
  width: 550px !important;
  text-align: left; }

td:first-child:hover {
  color: dimgrey;
  text-decoration: none;
  cursor: default; }

td:hover {
  color: darkmagenta;
  text-decoration: underline;
  cursor: pointer; }

.form-body {
  position: relative;
  top: 85px;
  width: 500px; }

.form-controll {
  position: relative;
  top: 145px; }

div a:hover {
  cursor: pointer; }
