<div>
    <p class="head-text">Add or Edit Item</p>
    <div class="form-body" >
            <span>Item value: </span>
        <input id="input" type="text" ng-model="inInput" placeholder="Enter some text..." tabindex="2"/>
        <script>document.getElementById("input").focus();</script>
    </div>
    <div class="form-controll">
        <a ui-sref="list" tabindex="1"> << Go back</a>
        <button class="btn btn-success" ng-click="save(inInput)" ui-sref="list" tabindex="3">Save</button>
    </div>
</div>
